.content-cart{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-content: center;
    align-items: center;
    margin: auto;
    margin-top: 2%;
    width: 70%;
    height: fit-content;
    background-color: rgb(255, 255, 255);
}

.item-style{
    border-bottom: solid 2px rgba(39, 39, 39, 0.712);
}

.tittle{
    background-color: #2098D1;
    justify-content: center;
    width: 100%;
    color: white;
}

.tittle-empty{
    background-color: #2098D1;
    width: 100%;
    color: white;
    justify-content: center;
    display: flex;
}
.tittle-cart{
    margin-left: 45px;
    color: white;
    justify-content: center;
    align-content: center;
}

.content-empty{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.total-text{
    width: 200px;
    margin-left: 10%;
    margin-top: 2%;
    font-size: 16px;
}


.bar-buttons{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}
.button-text-cart{
    color: white;
    width: 200px;
    height: 30px;
    background-color: #f9aa20;
    border: none;
    font-size: 100%;
    text-decoration: none;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-top: 10px;

}

.button-text-cart:hover{
    transition: 0.5s;
    background-color: #2098D1;
    transform: scale(110%);
}

.button-maxim:hover{
    transition: 0.5s;
    transform: scale(115%);

}