.card-detail{
    display: flex;
    color: rgb(48, 48, 48);
    flex-direction: row;
    background-color: white;
    font-size: 14px;
    width: 800px;
    height: 400px;
    text-shadow: none;
}

.card-product{
    border: solid 5px white;
    border-radius: 5px;
    align-items: center;
    margin-top: 2.5%;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 5px rgba(0, 0, 0 , 0.2); 
}

.content-itemList{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.text-of-content{
    width: 400px;
    justify-content: right;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.text-of-description{
    font-size: 16px;
}

.text-of-list{
    border-bottom: solid 2px #f9aa20;
    font-size: 16px;
}

.list-style{
    width: fit-content;
    list-style:none;
    margin: 10px;
}

.tittle-card{
    text-align: center;
    width: 100%;
    background-color: #2098D1;
    color: white;
    font-size: 24px;
    margin: auto;
}

.add-cart-card{
    align-items: center;
    margin: auto;
    
}

