* {
    box-sizing: border-box;
}
.content-count-button{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); 
}

.container-img{
    height: 500px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items:center;
    align-content: space-evenly;
    justify-items:center;
    justify-content:space-evenly;
}

.tittle-style{
    width: 600px;
    height: fit-content;
    color: white;
    font-size: 35px;
    text-align: right;
    justify-content:right;
    font-style: oblique;
    text-shadow: 2px 2px 2px rgba(0, 0, 0 , 0.5); 
}
.card {
    color: white;
    font-size: 25px;
    height: fit-content;
    width: 600px;
    text-align:justify;
    text-shadow: 2px 2px 2px rgba(0, 0, 0 , 0.5); 
}

.product-style{
    font-size: 16px;
    color: white;
    font-weight: bold;
}