.header-style{
    display:flex;
    flex-wrap: wrap;
    height: 125px;
    background-image: url('./img/header.jpg');
    background-size:cover;
    background-position-y: center;    
}

.text-style{
    color: white;
    display: flex;
    align-content: center;
    justify-content: right;
    padding-left: 100px;
    font-size: 75px;
    text-shadow: 5px 5px 4px rgb(31, 31, 31); 
}