.nav_links{
    display: flex;
    height: 50px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: solid 2.5px #ffffff;
    text-decoration: none;
}

.nav_category{
    width: 80%;
    height: 100%;
    align-items:center;
    display: flex;
    justify-content: space-evenly;
    background-color: #f9aa20;
}

.nav_login{
    width: 10%;
    height: 100%;
    align-items:center;
    align-content: flex-start;
    display: flex;
    justify-content: space-evenly;
    background-color: #414141;
}

.nav_cart{
    width: 10%;
    height: 100%;
    align-items:center;
    align-content: flex-start;
    display: flex;
    justify-content: space-evenly;
    background-color: #f9aa20;
}

.login_trans:hover{
    transition: 0.5s;
    transform: scale(110%);
}

.bot-style{
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-align:center;
    border: none;
    
}

.button-nav{
    align-content: center;
    justify-content: space-evenly;
    border: none;
    display: flex;
    background-color: rgba(255, 255, 255, 0);
}

.qty-cart{
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
    margin-left: 0px;
    width: 20px;
    height: 20px;
}

.efect:hover{
    transition: 0.5s;
    transform: rotate(15deg)
}

.qty-style{
    font-size: 22px;
    color: white;
    text-decoration: none;
}

