@font-face{
    font-family: Poppins Bold;
    src: url('/src/Fonts/Poppins/Poppins-Light.ttf')
  }

*{
    font-family: Poppins Bold;
}

.nav_links{
    display: flex;
    height: 50px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: solid 3px #f9aa20;
}

.nav_primary{
    width: 100%;
    height: 100%;
    align-items:center;
    display: flex;
    justify-content: space-evenly;
    background-color: #f9aa20;
}

.bot-style{
    font-weight: bold;
    color: white;
    font-size: 18px;
    text-align:center;
    text-decoration: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    /*background-color: #37393b;*/
}

.bot-style:hover{
    text-shadow: 2px 2px 2px rgba(0, 0, 0 , 0.5);
}


.nav_secondary{
    width: 10%;
    align-items:center;
    display: flex;
    justify-content:space-evenly;
    height: 100%;
    background-color: #f9aa20;
    /*background-color: rgba(255, 255, 255, 0.6);*/
}

.button-nav{
    border: none;
    display: flex;
    background-color: rgba(255, 255, 255, 0);
}

.qty-cart{
    display:block;
    color:black;
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
    margin-left: 0px;
    width: 20px;
    height: 20px;
}

.button-nav:hover{
    transition: 0.5s;
    transform: rotate(15deg)
   
}

