.nav_links{
    display: flex;
    height: 50px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: solid 3px #f9aa20;
    text-decoration: none;
}

.nav_primary{
    width: 100%;
    height: 100%;
    align-items:center;
    display: flex;
    justify-content: space-evenly;
    background-color: #f9aa20;
}

.bot-style{
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-align:center;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.nav_secondary{
    width: 10%;
    align-items:center;
    display: flex;
    justify-content:space-evenly;
    height: 100%;
    background-color: #f9aa20;
}

.button-nav{
    border: none;
    display: flex;
    background-color: rgba(255, 255, 255, 0);
}

.qty-cart{
    display:block;
    color:black;
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
    margin-left: 0px;
    width: 20px;
    height: 20px;
}

.button-nav:hover{
    transition: 0.5s;
    transform: rotate(15deg)
}

