.load-card{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.img-load-size{
    margin-top: 5%;
    width: 270px;
    height: 180px;
}

.text-load{
    margin-top: -5%;
    font-size: 30px;
    color: rgb(39, 39, 39);
}