.load-card{
    width: 100%;
    min-height: 720px;
    height: fit-content;
    display: flex;
    margin: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.text-load{
    padding: 5% auto;
    font-size: 30px;
    color: rgb(39, 39, 39);
}