.login-box{
    background-color: white;
    width: 500px;
    height: fit-content;
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    border-top: solid 10px #f9aa20;
    box-shadow: 4px 4px 5px rgba(0, 0, 0 , 0.2);
}

.tittle-login{
    width: 500px;
    height: 50px;
    margin: auto;
    text-align: center;
    font-size: 24px;
    color: rgb(48, 48, 48);
    background: #2098D1;
    color: white;
}

.content-login{
    margin: 5% auto;
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color:white;
    font-size: 14px;
    color: rgb(48, 48, 48)
}

.input-button-register{
    border: solid 1px rgb(216, 216, 216);
    border-bottom: solid 2px #f9aa20;
}

.link-button-register{
    margin: auto;
    width: 120px;
    height: 40px;
    font-size: 16px;
    background-color: #f9aa20;
    color: white;
    border: none;
    box-shadow: 4px 4px 5px rgba(0, 0, 0 , 0.2);
}

.submit-button-login{
    margin: 5px auto;
    width: 120px;
    height: 40px;
    font-size: 16px;
    background-color: #f9aa20;
    color: white;
    border: none;
    box-shadow: 4px 4px 5px rgba(0, 0, 0 , 0.2);
}

.link-button-register:hover{
    transition: 0.75s;
    background-color: #2098D1;
}

.submit-button-login:hover{
    transition: 0.75s;
    background-color: #2098D1;
}

.container-buttons-login{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2% auto;
    align-items: center;
}

.icon-input{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content:space-between
}

.img-icon-style{
    margin: auto 5%;
    width: 25px;
    height: 25px;
    background-color: #2098D1;
    border: solid #2098D1 5px;
    border-radius: 50%;
}