@font-face{
  font-family: Poppins Light;
  src: url('Fonts/Poppins/Poppins-Light.ttf')
}

@font-face{
  font-family: Poppins SemiBold;
  src: url('Fonts/Poppins/Poppins-SemiBold.ttf')}

*{
  font-family: Poppins Light;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  height: max-content;
  /*min-height: min-content;*/
  width: 100%;
}

.App {
    background: #ebebeb;
    /*background-image: url("https://res.cloudinary.com/icorvalan/image/upload/c_scale,q_100,w_1800/v1642127207/backgrounds/fondo_tq8jlq.png");
    */width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
