
.count-style{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 30px;
    color: black;
    border: none;
    backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255);
}

.box{
    width: 200px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0 , 0.2);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.symbol-style{
    font-size: 100%;
    color: black;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.num-style{
    font-size: 100%;
    color: rgb(48, 48, 48);
    border: none;
    text-decoration: none;
}

.button-style-add{
    grid-column: auto;
    display: flex;
    flex-direction: row;
    background-color: #f9aa20;
    width: 200px;
    height: 30px;
    justify-content: center;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.button-text{
    color: white;
    width: 200px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 100%;
    text-decoration: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.button-text:hover{
    transition: 0.5s;
    color: white;
    background-color: #2098D1;
}

