.product-card{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 500px;
    height: 125px;
    background-color: white;
    
}

.box-img{
    width: 30%;
    height: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.model-style{
    background-color: #2098D1;
    color: white;
    justify-content: center;
    display: flex;
}

.img-cart{
    margin-left: 30px;
    display: flex;
    width: 125px;
    height: 125px;
    align-items: center;
    justify-content: center;
}

.text-content{
    margin-left: 15px;
    padding: 5px;
    width: 70%;
    height: 100%;
    color: rgb(39, 39, 39);
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}